@media (max-width: 600px) {
    html {
        scroll-behavior: smooth;
    }
    body {
        background-color: $primary-color;
        font-family: 'Magra', sans-serif;
        text-align: justify; 
        margin: 0;
        img {
            width: 18em;
            height: 16em;
            display: block;
            margin: auto;
        }
        h1 {
            font-size: 30px;
            color: white;
            // font-family: 'Gothic A1', sans-serif
            font-family: 'Bree Serif', serif;
            text-shadow: 2px 2px 2px black;
        }
        p {
           font-size: 20px;
           color: white;
        }
        header {
            background-color: black;
            background-size: cover;
            text-align: center;
            background-position: 100% 100%;
            background-repeat: no-repeat;
            padding: 20px;
            background-attachment: fixed;
            height: 50vh;
            position: relative;
            font-family: 'Bree Serif', serif;
            text-shadow: 2px 2px 2px black;
            color: white;
    
            div {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%)
            }
            // font-family: 'Marcellus', serif;
        img {
                width: 50px;
                height: 50px;
                position: relative;
                top: 5vh;
                animation: move .5s infinite alternate;
            }
            @keyframes move {
                0% { transform: translateY(0);}
                100% {transform: translateY(20px);}
            }
    }

    hr {
        background-color: #3a3a3a00;
        height: 4px;
        border-top: none;
        border-bottom: 3px double #6f6f6f;
        border-left: none;
        border-right: none;
    }

    .container {
        padding: 50px;
        margin: 0 auto;
        width: 85%;
    }
    
    h2 {
        text-align: center;
        // font-family: 'Gothic A1', sans-serif
        font-family: 'Bree Serif', serif;
    }
    h3 {
        text-align: center;
        // font-family: 'Gothic A1', sans-serif
        font-family: 'Bree Serif', serif;
    }
    footer {
        color: black;
        text-align: center;
        padding: 5px;
        background-color: orange;
    }
    }
}